* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  font-style: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
textarea,
button {
  font-family: "Inter", sans-serif;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font: inherit;
}

.no-scroll {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

.strike-through {
  text-decoration: line-through;
}

.italic {
  font-style: italic;
}

.campaign-landscape-popup {
  margin: 0 auto;
  width: 450px;
}

.campaign-landscape-popup #popup-container {
  width: 450px;
  height: 90%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (max-device-width: 1200px) and (orientation: portrait) {
  .campaign-landscape-popup {
    margin: unset;
    width: unset;
  }

  .campaign-landscape-popup #popup-container {
    width: 100%;
  }
}

body.withInter {
  font-family: "Inter", sans-serif;
}

@media screen and (max-device-width: 615px) {
  body {
    font-size: clamp(16px, 4.45vw, 18px);
  }
}
