:root {
  /* Breakpoints */
  --wrapper-width-hdpi: 1366px;
  --wrapper-width-mdpi: 1024px;
  --wrapper-width-mobile: 100%;

  /* layouts */
  --header-mobile-height: 55px;

  /* Colors */
  --light-green: #3bb896;
  --hover-green: #e6fcf6;
  --green: #10847e;
  --dark-green: #0d4f44;
  --highlight-green: #befdda;
  --lighter-green: #effffb;
  --lightest-green: #f2fff8;
  --pure-black-light: #333;
  --pure-black: #000;
  --dark-black: #3e415b;
  --black: #4f585e;
  --dark-gray: #4b4b4b;
  --dark100-grey: #4a4a4a;
  --light-black: #8897a2;
  --white: #fff;
  --dirty-white: #f2f5f5;
  --lightest-gray: #f3f6fa;
  --lighter-gray: #f2f2f2;
  --light-gray: #f4f7fb;
  --shimmer: #f1f1f2;
  --gray: #dfe3e6;
  --lightest-red: #fff9fa;
  --lighter-red: #ffefef;
  --light-red: #f76b6d;
  --red: #e60d1f;
  --marigold: #f3cab1;
  --dark-red: #f05965;
  --error-red: #ff7d7b;
  --orange: #fc8019;
  --medium-orange: #fef8f3;
  --highlight-orange: #fff7e4;
  --light-orange: #fff8da;
  --lighter-blue: #e6f6ff;
  --blue: #00b9e1;
  --ice-blue: #e9f9ff;
  --bright-blue: #32c5ff;
  --navy-blue: #5099c1;
  --dark-blue: #013446;
  --light-blue: #d6faff;
  --sky-blue: #aee2ff;
  --deep-blue: #6ba1f7;
  --deeper-blue: #5986e6;
  --shine-blue: #4781ec;
  --powder-blue: #beeddd;
  --light-cyan: #def7f8;
  --cyan-blue: #dce4f1;
  --silver-blue: #f1fafe;
  --pink: #d90687;
  --light-pink: #fff2f2;
  --error-background: rgba(233, 125, 118, 0.2);
  --purple: #8573e1;
  --light-purple: #a291fa;
  --lightest-purple: rgba(162, 145, 250, 0.1);
  --royal-purple: #6e53ba;
  --yellow: #f7b500;
  --dark-yellow: #dc8a05;
  --highlight-yellow: #fef7ce;
  --warning-yellow: #fad961;
  --extra-highlight-yellow: #ffe19e;
  --light-yellow: #fffeda;
  --lightest-yellow: #fffae3;
  --lighter-yellow: #fdf2d2;
  --highlighter-yellow: #fff8e6;
  --off-white: #fffbe9;
  --manilla: #feea8e;
  --pale-blue: #d6f0ff;
  --salmon: #ff7c78;
  --brown: #a05d26;
  --wood-brown: #634646;
  --sea-green: #dbfff5;
  --light-sea-green: #f1fff7;
  --lighter-sea-green: #e8f7f3;
  --aqua-marine: #3ccea5;
  --light-aqua-marine: #def7f0;
  --dark100-aqua-marine: #16876e;
  --dark-aqua-marine: #0e6b67;
  --pale-gray: #ebf0f5;
  --royal-blue: #3148dd;
  --rose-pink: #fde8e8;
  --pale-yellow: #fef1cd;
  --purple-lite-background: #f5f3ff;
  --purple-background: #e2dcff;
  --light-green-backgound: #dbfff5;
  --light-blue-background: #c7efff;
  --lighter-blue: #d4e2fa;
  --quote-green: #2c9477;
  --dot-yellow: #ffebb5;
  --extra-light-gray: #f8f8fe;
  --gray-marker: #9d9ab0;
  --bluish-gray: #bdccd7;
  --silver: #cfd2d4;
  --success-green: #3ec29e;
  --light-bluish-gray: #e3eaf0;
  --lighter-bluish-gray: #eef4ff;
  --separator: #c8cfd4;
  --mint-cream: #f6fffa;
  --off-red: #f98c8e;
  --gradient-red: #f2afb0;
  --clear-red: #f7ad31;
  --off-blue: #eaf1ff;
  --medium-red: #f98b8d;
  --light-brown: #51585e;
  --dark-grey: #656d72;
  --very-light-gray: #dfdfdf;
  --red-pink: #e15f7f;
  --deep-purple: #8678de;
  --lime-green: #62bf9f;
  --gray-variant-1: #dde4f1;
  --grey-white: #dcdcdc;
  --black-light: #30363c;
  --red-one: #cc4c4e;
  --white-one: #fff5f5;
  --white-two: #ebf2ff;
  --white-three: #e4edfe;
  --davys-grey: #51585d;

  --app-install-widget-bgcolor: #ebf7f4;

  /* Fonts */
  --h1-font-size: 42px;
  --xl-font-size: 36px;
  --l-font-size: 30px;
  --h2-font-size: 26px;
  --huge-font-size: 24px;
  --heading-large-font-size: 22px;
  --h3-font-size: 20px;
  --large-font-size: 18px;
  --heading-font-size: 18px; /* ToDo: deprecate it */
  --default-font-size: 16px;
  --medium-font-size: 14px;
  --small-font-size: 12px;
  --xs-font-size: 10px;
  --xxs-font-size: 8px;
  --font-family: "Open Sans", sans-serif;
  --regular-weight: 400;
  --medium-weight: 500;
  --semi-bold: 600;
  --bold: 700;

  /* Layout */
  --lhs-width: 592px;
  --lhs-mobile-width: 100%;
  --rhs-width: 352px;
  --rhs-mobile-width: 100%;
  --lhs-rhs-spacing: 80px;
  --lhs-rhs-mobile-spacing: 0;
  --header-height: 145px;
  --new-header-height: 103px;
  --collapsed-header-height: 80px;
  --mobile-header-height: 60px;
  --expanded-mobile-header-height: 115px;
  --location-strip-height: 56px;
  --slim-header-height: 96px;
  --form-element-height: 45px;
  --typeahead-height: 50px;
  --typeahead-height-mobile: 45px;

  /* Spacing */
  --xs-spacing: 5px;
  --s-spacing: 10px;
  --m-spacing: 15px;
  --l-spacing: 20px;
  --xl-spacing: 25px;
  --xxl-spacing: 30px;
  --xxxl-spacing: 35px;
  --xxxxl-spacing: 40px;
  --xxxxxl-spacing: 45px;
  --xxxxxxl-spacing: 50px;
  --xl-space: 24px;

  /* Z-Index */
  --backdrop-z-index: -1;
  --sticky-z-index: 10;
  --banner-z-index: 150;
  --header-z-index: 200;
  --header-with-search-z-index: 201;
  --loading-bar-z-index: 250;
  --typeahead-z-index: 400; /* This is the popup that opens in a typeahead, in our case search */
  --modal-z-index: 2050;
  --tooltip-z-index: 2051;
  --drawer-z-index: 1030;
  --diagnostics-view-cart-strip-z-index: 150;
  --ripple-z-index: -1;
  --ripple-container-z-index: 1;
  --toast-z-index: 2052;

  /* Rotation */
  --quarter-right: 45deg;
  --quarter-left: -45deg;

  /* Others */
  --xl-border-radius: 16px;
  --l-border-radius: 8px;
  --border-radius: 6px;
  --s-border-radius: 4px;
  --xs-border-radius: 2px;
  --shadow-light: 0 2px 5px var(--gray);
  --shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.23);
  --button-extra-small-width: 80px;
  --button-small-width: 140px;
  --button-medium-width: 200px;
  --button-large-width: 352px;
  --xxl-line-height: 1.8;
  --xl-line-height: 1.5;
  --l-line-height: 1.25;
  --m-line-height: 1;
  --line-height-14: 14px;
  --line-height-16: 16px;
  --line-height-18: 18px;
  --line-height-20: 20px;
  --line-height-22: 22px;
  --line-height-24: 24px;

  /* BMC Theme */
  --bmc-blue: #004a91;
  --bmc-orange: #f87e73;
  --bmc-grey: #cdcdcd;
  --bmc-black: #414141;
  --bmc-dark-grey: #797979;
  --bmc-white: #fff;
  --bmc-header-height: 172px;
  --bmc-wrapper-width: 420px;
  --bmc-footer-height: 40px;

  /* EDD Theme */
  --edd-tooltip-background: #e1e1e1;
  --edd-info-disclaimer-color: #6d7278;

  /* App install banner */
  --darkish-black: #212121;
  --green-g200: #83c9c6;
  --green-g800: #0e746e;
  --status-card-light-blue: #f5f8fc;

  /* ---v2 Theme--- */
  /* color palette */
  --primary-a1000: #0a534f;
  --primary-a800: #0e746e;
  --primary-a400: #15aca5;
  --primary-black: #000000;
  --neutral-Dark-n800: #30363c;
  --neutral-Dark-n600: #4f585e;
  --neutral-Dark-n400: #6e787e;
  --neutral-Dark-n200: #8897a2;
  --neutral-Dark-n100: #d7dfe5;
  --neutral-Dark-n40: #e6ebf4; /* Rename to neutral-Light-n40 */
  --neutral-Light-n40: #e6ebf4;
  --neutral-Light-n80: #b4c0d3;
  --neutral-Light-n70: #d4dbe7;
  --neutral-Light-n60: #dce4f1;
  --neutral-Light-n20: #edf2f9;
  --neutral-Light-n10: #f5f8fc;
  --primary-white-n0: #ffffff;
  --primary-green-g600: #10847e;
  --primary-green-g200: #83c9c6;
  --secondary-error-r600: #f47779;
  --primary-diagnostic-b100: #ebf2ff;
  --primary-diagnostic-b800: #3661b0;
  --secondary-diagnostic-b600: #3b7aef;
  --secondary-diagnostic-b200: #b5cdf7;
  --feedback-error-800: #cc4c4e;
  --secondary-warning-800: #cf7530;
  --feedback-success-600: #62bf9f;
  --feedback-success-100: #f2fff8;
  --feedback-success-800: #45a081;
  --plus-primary-600: #8678de;
  --secondary-error-r1000: #583536;
  --secondary-error-r800: #e15f7f;
  --secondary-Light-n100: #fff8e3;
  --secondary-Light-n600: #f5b326;

  /* spacing */
  --half: 4px;
  --baseline: 8px;
  --onepointfive: 12px;
  --two: 16px;
  --twopointfive: 20px;
  --three: 24px;
  --four: 32px;
  --five: 40px;
  --six: 48px;
  --seven: 56px;
  --eight: 64px;
  --nine: 72px;
  --ten: 80px;
  --fifteen: 120px;

  /* font size */
  --fontSize0: 10px;
  --fontSize1: 11px;
  --fontSize2: 12px;
  --fontSize3: 13px;
  --fontSize4: 14px;
  --fontSize5: 15px;
  --fontSize6: 16px;
  --fontSize7: 18px;
  --fontSize8: 22px;
  --fontSize9: 26px;
  --fontSize10: 32px;
  --fontSize11: 40px;
  --fontSize12: 48px;
  --fontSize13: 56px;
  --fontSize14: 64px;

  /* line hieghts */
  --lineHeight0: 16px;
  --lineHeight1: 20px;
  --lineHeight2: 24px;
  --lineHeight3: 28px;
  --lineHeight4: 32px;
  --lineHeight5: 40px;
  --lineHeight6: 48px;
  --lineHeight7: 56px;
  --lineHeight8: 64px;
  --lineHeight9: 72px;

  /* border radii */
  --borderRadiusExtraSmall: 2px;
  --borderRadiusSmall: 4px;
  --borderRadiusMedium: 8px;
  --borderRadiusLarge: 12px;
  --borderRadiusExtraLarge: 16px;
  --borderRadiusRound: 100px;
}
