html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  outline: none;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}

html {
  font-size: var(--default-font-size);
  touch-action: manipulation;
}

body {
  line-height: var(--l-line-height);
  font-family: var(--font-family);
  font-size: var(--default-font-size);
  color: var(--black);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: var(--regular-weight);
  background-color: var(--white);
}

input,
textarea,
button {
  color: var(--black);
  font-family: var(--font-family);
  font-size: var(--default-font-size);
}

strong {
  font-weight: var(--bold);
}
